<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body { font-family: arial; margin: 20px }
        td { padding: 5px, border: 1px }
        .bullish {background: green; color: white}
        .bearish {background: red; color: white}
    </style>
    <title>Title</title>
</head>
<body>
    <h1>Candlestck screener</h1>
    <form>
        <select name="pattern">
            {% for pattern in patterns %}
                <option value="{{ pattern }}" {% if pattern == current_pattern %} selected="selected" {% endif %}>{{ patterns[pattern] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="scan">
    </form>
    <table>
        <tr>
            <th>
                symbol
            </th>
            <th>
                company name
            </th>
            <th>
                bullish/bearish
            </th>
            <th>
                info
            </th>
        </tr>
    {% for stock in stocks %}
        {% if stocks[stock]['signal'] != 0 %}
        <tr>
            <td> {{ stock }} </td>
            <td> {{ stocks[stock]['company'] }} </td>
            <td> {{ stocks[stock]['patterns'][current_pattern] }}: {{ stocks[stock]['signal'] }} </td>
            <td> - </td>
<!--            <td rowspan="2">{{ stocks[stock]['patterns'] }}</td>-->
        </tr>
        <tr>
            <td colspan="3">
<!--                <img src='http://finviz.com/chart.ashx?t={{ stock }}&ty=c&ta=1&p=d&s=l' />-->
            </td>
            <td> - </td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
</body>
</html>